.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-links {
  margin: 8px;
}

.logo_img {
  height: 50px;
  width: 50px;
}

.app_row {
  display: flex;
  margin: 6px;
  justify-content: space-evenly;
}

.app_container{
  width: 50vw;
}

a > img {
  height: 160px;
  width: 160px;
  border: 1px solid black;
  margin: 8px;

}
