.quiz_container {
  height: 85vh;
  width: 95vw;
  font-family: 'Montserrat', sans-serif;
}

.quiz button {
  display: absolute;
  width: 95vw;
  height: 16vh;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 1vh;
  padding: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.quiz_name {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}
