<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/navbar.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Settler - Quiz</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img class="logo_img2" src="../static/images/logo.png    " alt="settler logo">
            </div>
            <div class="topnav">
                <a href="#home" class="active">Menu</a>
                <div id="myLinks">
          <a href="/about">About</a>
          <a href="/faq">FAQ</a>
          <a href="/contacts">Contacts</a>
        </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

        </nav>
        <div class="content">

        <p>
            We are immigrants who experienced the struggle of settling to a new country.
Settler is a community driven platform that strives to help new immigrants adjust to their new home. We are a one stop shop where you can find all of the resources you need to be successful. Constantly seeking feedback from our community the platform will dynamically change to tailor the needs of our users.
        </p>

        </div>
    </div>

</body>

</html>