<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../static/js/navbar.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/government_info.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Oswald:500&display=swap" rel="stylesheet">
  <title>Settler - Prices</title>
</head>

<body>
  <div class="container">
    <nav>
      <div class="logo">
        <img class="logo_img2" src="../static/images/logo.png    " alt="settler logo">
      </div>
      <div class="topnav">
        <a href="#home" class="active">Menu</a>
        <div id="myLinks">
          <a href="/about">About</a>
          <a href="/faq">FAQ</a>
          <a href="/contacts">Contacts</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </nav>
    <div class="content">
        <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <h1>Government Information</h1>
       <div class="stripe">
      
        <h3>Aliyah Process</h3>
           <p>6-8 months before your estimated Aliyah date, begin your Aliyah paperwork by completing the application.
            In addition to the joint NBN-JAFI application for Aliyah and services, there is an option to apply for financial aid . Financial aid is awarded based on need, adequacy of Aliyah preparation, and likelihood of success.
            You will be asked to upload copies of relevant documents which will be used to both determine your eligibility and your status with the Jewish Agency. </p>


       </div>

<div class="stripe">
       <h3>Financial Aid</h3>
       <p>Financial assistance provided by Misrad Haklita. An initial cash payment is received at Ben Gurion Airport, followed by an additional wire transfer after you give Misrad Haklita your bank details. You will receive seven monthly installments of Sal Klita in all, followed by a supplementary grant (based on eligibility), all of which will be transferred directly into your Israeli bank account.

        It is granted only to those who spent less than 24 months in Israel (consecutively or cumulatively) during the three years prior to making Aliyah, and no longer than three years in Israel during the seven years prior to making Aliyah. </p>

    </div>



 <div class="stripe">
    <h3>Tax Breaks</h3>
    <p>Income tax reduction on income earned in Israel. The income tax reduction on income earned in Israel works on a points system, where one point is equal to NIS 218. New Olim receive three points per month (NIS 654) for the first 18 months after Aliyah, two points over the next 12 months, and one point during the last 12 months. Once you begin to work, advise your employer that you are an Oleh.
    Tax breaks on passive and active income earned overseas. </p>

 </div>
   

 <div class="stripe">
    <h3>Arnona (Municipal Tax) Reduction</h3>
    <p>All cities and towns in Israel charge Arnona. Olim are customarily granted a discount of 70–90% (up to 100 m2) on the Arnona payments. Check with your local municipality for specific details about this benefit. A 12-month rental contract or proof of ownership must be provided to obtain this benefit. </p>

 </div>

 <div class="stripe">
    <h3>Subsidized Tuiton for BA or MA Degree</h3>
    <p>Tuition is subsidized if studies begin before age 27 for a BA and age 30 for an MA, and if you start your studies within three years of Aliyah. Students who are under 23 can also receive assistance for Mechina, a one-year preparatory course. You must study at a program recognized by Minhal Hastudentim; if you are in a private or international program, you are only eligible for partial assistance. If you already have a degree, a similar degree (BA or MA) is usually not subsidized </p>

 </div>



</div>


     
  </div>
</div>
</body>

</html>