<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host</title>
</head>
<body>
    <div class="form-container">
        <form>
          <label>First Name:</label>
          <input type="text" name="first_name" /><br>
          <label>Last Name:</label>
          <input type="text" name="last_name" /><br>
          <label>Age:</label>
          <input type="number" name="age" min="1" max="100" /><br>
          <label>Country of Origin:</label>
          <input type="text" name="country_of_origin" /><br>
          <label>City of Residence:</label>
          <input type="text" name="city_of_residence" /><br>
          <label>Address:</label>
          <input type="text" name="address" /><br>
          <label>Maximum Number of Guests:</label>
          <input type="number" name="number_of_guests" min="1" max="10" /><br>
          <label>Meal Type</label> 
    <select multiple name="food_preference[]">
            <option name="preference"  value="fish">Fish</option >
            <option name="preference"  value="meat">Meat</option >
            <option name="preference" value="milk">Milk</option >
            <option name="preference" value="indian">Indian</option >
            <option name="preference"value="kosher">Kosher</option >
            <option name="preference" value="chinese">Chinese</option >
            <option name="preference"  value="italian">Italian</option >
            <option name="preference"  value="israeli">Israeli</option >
            <option name="preference"  value="kosher">Kosher</option >
            <option name="preference"  value="vegan">Vegan</option >
            <option name="preference"  value="vegetarian">Vegetarian</option >
        </select>
        <h6>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</h6>

         <label>Food Allergies:</label>
          <input type="radio" name="allergies" value="no" />No
          <input type="radio" name="allergies" value="yes" />Yes
          <input type="text" name="allergies" /><br>
          <label>Meal Date</label>
          <input type="date" name="meal_date"><br>
          <label>Meal Time</label>
          <input type="time" name="meal_time">
          <input type="submit" value="submit">
        </form>
      </div>

</body>
</html>