<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">


    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="language_selector">
            <h5>Language selector</h5>
        </div>

        <div class="header">
            <div class="logo">
                <img class="logo_img" src="../static/images/Setteler Logo.png" alt="settler logo">
            </div>
        </div>
        <div class="header_text">
            <h2>motto</h2>
        </div>

        <div class="sign_box">
            <div class="sign">
                <a>
                    <h3>Sign in</h3>
                </a>
            </div>
            <div class="sign">
                <a href="/signup">
                    <h3>Sign up</h3>
                </a>
            </div>
        </div>

        <footer>
            <div>
                Avi Barizani - Eric Pinhasovich - Jack E. Civre - Jacky Lalou - Yonatan Salmon
                <hr />
            </div>
            <div>
                ITC Hackathon - Hack for good 2020
            </div>
        </footer>

    </div>
</body>

</html>