<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Oswald:500&display=swap" rel="stylesheet">
    <script src="../static/js/navbar.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Settler - Listings</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img class="logo_img2" src="../static/images/logo.png    " alt="settler logo">
            </div>
            <div class="topnav">
                <a href="#home" class="active">Menu</a>
                <div id="myLinks">
                    <a href="/about">About</a>
                    <a href="/faq">FAQ</a>
                    <a href="/contacts">Contacts</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

        </nav>
        <div class="content">

            <table>
                <tr class="">
                    <th class="first_name">First Name</th>
                    <th class="last_name">Last Name</th>
                    <th class="address">Address</th>
                    <th class="max_people">Available Seats</th>
                    <th class="meal_type">Meal Type</th>
                    <th class="food_restriction">Food Restriction</th>
                    <th class="meal_date">Meal Date</th>
                    <th class="meal_time">Meal Time</th>
                    <th class="join_btn">Join</th>
                </tr>
                <tr class="">
                    <td class="first_name_data">Eric </td>
                    <td class="last_name_data"> Pinhasovich </td>
                    <td class="event_address">59 Florentin st</td>
                    <td class="max_people">6</td>
                    <td class="meal_preference"> Meat, Indian </td>
                    <td class="food_restriction data"> None </td>
                    <td class="event_date">01/31/2020</td>
                    <td class="event_time">09:00 PM</td>
                    <td class="join data"><button>Join</button></td>
                </tr>
                <tr class="">
                    <td class="first_name_data">Yonotan </td>
                    <td class="last_name_data"> Salmon </td>
                    <td class="event_address">18 Shoken st</td>
                    <td class="max_people">23</td>
                    <td class="meal_preference"> Vegan </td>
                    <td class="food_restriction data"> NO MEAT </td>
                    <td class="event_date">02/29/2020</td>
                    <td class="event_time">10:01 PM</td>
                    <td class="join data"><button>Join</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>