<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Oswald:500&display=swap" rel="stylesheet">
    <script src="../static/js/navbar.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Settler - Map</title>
</head>

<body>

    <head>
        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 65vh;
                /* The height is 400 pixels */
                width: 85vw;
                /* The width is the width of the web page */
            }
        </style>
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <img class="logo_img2" src="../static/images/logo.png    " alt="settler logo">
                </div>
                <div class="topnav">
                    <a href="#home" class="active">Menu</a>
                    <div id="myLinks">
                        <a href="/about">About</a>
                        <a href="/faq">FAQ</a>
                        <a href="/contacts">Contacts</a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

            </nav>
            <div class="content">

                <h3>Very Important Places</h3>
                <!--The div element for the map -->
                <div id="map"></div>
            </div>
            <script>
                // Initialize and add the map
                function initMap() {
                    // The location of Uluru
                    var uluru = { lat: 32.0853, lng: 34.7818 };
                    var misrad = { lat: 32.073098, lng: 34.787601 };
                    var police = { lat: 32.079256, lng: 34.790924 };
                    var municipality = { lat: 32.079610, lng: 34.773390 };
                    var hospital = { lat: 32.079618, lng: 34.787241 };
                    var dizengoff = { lat: 32.075686, lng: 34.787601 };
                    var police = { lat: 32.079256, lng: 34.790924 };
                    var bus_station = { lat: 32.056420, lng: 34.779468 };
                    var market = { lat: 32.068728, lng: 34.769122 };
                    // The map, centered at Uluru
                    var map = new google.maps.Map(
                        document.getElementById('map'), { zoom: 13, center: uluru });
                    // The marker, positioned at Uluru
                    var marker = new google.maps.Marker({ position: uluru, map: map });
                    var markerTwo = new google.maps.Marker({ position: misrad, map: map });
                    var marker_police = new google.maps.Marker({ position: police, map: map });
                    var municipality = new google.maps.Marker({ position: municipality, map: map });
                    var hospital = new google.maps.Marker({ position: hospital, map: map });
                    var dizengoff = new google.maps.Marker({ position: misrad, map: map });
                    var marker_police = new google.maps.Marker({ position: police, map: map });
                    var bus_station = new google.maps.Marker({ position: bus_station, map: map });
                    var market = new google.maps.Marker({ position: market, map: map });

                }
            </script>
            <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADVTMsjoE03hJDiB5xYWnLe5l4F-RVE74
    &callback=initMap">
    </script>
    </body>

</html>