<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../static/js/navbar.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/prices.css">
  <title>Settler - Prices</title>
</head>

<body>
  <div class="container">
    <nav>
      <div class="logo">
        <img class="logo_img2" src="../static/images/logo.png    " alt="settler logo">
      </div>
      <div class="topnav">
        <a href="#home" class="active">Menu</a>
        <div id="myLinks">
          <a href="/about">About</a>
          <a href="/faq">FAQ</a>
          <a href="/contacts">Contacts</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </nav>
    <div class="content">


      <div class="stripe stripe1">


        <table id="food">
          <caption>Food</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>

          </tr>
          <tr>
            <td>🥛 Milk (regular), (1 liter)</td>
            <td>5.75 ₪ </td>
          </tr>
          <tr>
            <td>🍞 Loaf of Fresh White Bread (500g) </td>
            <td>7.16 ₪ </td>
          </tr>
          <tr>
            <td>🍚 Rice (white), (1kg) </td>
            <td>8.67 ₪ </td>
          </tr>
          <tr>
            <td>🥚 Eggs (regular) (12)</td>
            <td>12.57 ₪ </td>
          </tr>
          <tr>
            <td>🍗 Chicken Breasts (1kg) </td>
            <td>33.77 ₪ </td>
          </tr>
          <tr>
            <td>🍎 Apples (1kg)</td>
            <td>9.74 ₪ </td>
          </tr>
          <tr>
            <td>🍊 Oranges (1kg)</td>
            <td>6.15 ₪ </td>
          </tr>
          <tr>
            <td>🍅 Tomato (1kg)</td>
            <td>5.28 ₪ </td>
          </tr>
          <tr>
            <td>🧅 Onion (1kg)</td>
            <td>3.64 ₪ </td>
          </tr>
          <tr>
            <td>🍺 Beer(330cc)</td>
            <td>31.44 ₪ </td>
          </tr>
        </table>
        <table id="appliances">
          <caption>Appliances</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>

          </tr>
          <tr>
            <td>📺 TV</td>
            <td>1820 ₪</td>
          </tr>
          <tr>
            <td>💻 Computer</td>
            <td>3690 ₪</td>
          </tr>
          <tr>
            <td>📱 Cellphone</td>
            <td>529 ₪</td>
          </tr>
          <tr>
            <td>🗄️ Washing Machine</td>
            <td>799 ₪</td>
          </tr>
          <tr>
            <td>🧃 Refrigerator</td>
            <td>679 ₪</td>
          </tr>
          <tr>
            <td>🛋️ Couch</td>
            <td>999 ₪</td>
          </tr>
          <tr>
            <td>🛏️ Bed</td>
            <td>555 ₪</td>
          </tr>
        </table>
        <table id="recreation">
          <caption>Recreation</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>
          </tr>
          <tr>
            <td>🍿 Movie Theater</td>
            <td>40 ₪</td>
          </tr>
          <tr>
            <td>💃 Dance Club</td>
            <td>50 ₪</td>
          </tr>
          <tr>
            <td>🏋️‍♂️ Gym Membership</td>
            <td>175 ₪</td>
          </tr>
          <tr>
            <td>🍽️ Restaurant</td>
            <td>50 ₪</td>
          </tr>
          <tr>
            <td>💸 Tip</td>
            <td>10%</td>
          </tr>
        </table>

      </div>
    </div>
      <div class="stripe ">
        <table id="government_fees" class="stripe2">
          <caption>Government Fees</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>
          </tr>
          <tr>
            <td>📚 Passport Renewal</td>
            <td>265 ₪ </td>
          </tr>
          <tr>
            <td>💳 Driving License</td>
            <td>450 ₪ </td>
          </tr>
          <tr>
            <td>🗣️ Language Courses (ulpan)</td>
            <td>2500 ₪ </td>
          </tr>
          <tr>
            <td>🎫 Parking Ticket</td>
            <td>500 ₪</td>
          </tr>
        </table>
        <table id="shopping" class="stripe2">
          <caption>Shopping</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>
          </tr>
          <tr>
            <td>👖 Pants</td>
            <td>130 ₪</td>
          </tr>
          <tr>
            <td>👞 Shoes</td>
            <td>360 ₪</td>
          </tr>
          <tr>
            <td>👕 T-Shirt</td>
            <td>120 ₪</td>
          </tr>
          <tr>
            <td>🧼 Deodorant</td>
            <td>28.20 ₪</td>
          </tr>
          <tr>
            <td>🦷 Toothpaste</td>
            <td>28.80 ₪</td>
          </tr>
          <tr>
            <td>💍 Jewelery</td>
            <td>360 ₪</td>
          </tr>
        </table>
        <table id="transportation" class="stripe2">
          <caption>Transportation</caption>
          <tr>
            <th>Item</th>
            <th>Average Price</th>
          </tr>
          <tr>
            <td>🍿 Movie Theater</td>
            <td>40 ₪</td>
          </tr>
          <tr>
            <td>💃 Dance Club</td>
            <td>50 ₪</td>
          </tr>
          <tr>
            <td>🏋️‍♂️ Gym Membership</td>
            <td>175 ₪</td>
          </tr>
          <tr>
            <td>🍽️ Restaurant</td>
            <td>50 ₪</td>
          </tr>
          <tr>
            <td>💸 Tip</td>
            <td>10%</td>
          </tr>
        </table>

       
      </div>
     
    </div>
    <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
</body>

</html>