<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Settler - Quiz</title>
</head>

<body>


    <div class="fyrebox_quiz" data-gid="B9g0Rgj1q" data-oid="YoEP6Zvq3"></div>
    <script src="https://cdn.fyrebox.com/javascripts/fyrebox.min.js?2" defer="defer" async></script>

</body>

</html>