<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
    <div class="container">
        <nav class="nav-header">
            <div class="header">
                <div class="small_logo">
                    <img class="logo_img" src="../static/images/Setteler Logo.png" alt="settler logo">
                </div>
            </div>
            <div class="nav-list ">
                <a class="nav-links" href="https://www.apple.com/mac/" target="_blank">Home</a>
                <a class="nav-links" href="https://www.apple.com/ipad/" target="_blank">About</a>
                <a class="nav-links" href="https://www.apple.com/iphone/" target="_blank">Forum</a>
                <a class="nav-links" href="https://www.apple.com/watch/" target="_blank">FAQ</a>
                <a class="nav-links" href="https://www.apple.com/tv/" target="_blank">Contact</a>
            </div>

        </nav>
        <div class="form-container">
            <form action="{{url_for('create_user')}}" method="post">
                <div class="personal">
                    <div class="form_item">
                        <h3>Username:</h3>
                        <input type="text" name="username" />
                    </div>
                    <div class="form_item">
                        <h3>First Name:</h3>
                        <input type="text" name="first_name" />
                    </div>
                    <div class="form_item">
                        <h3>Last Name:</h3>
                        <input type="text" name="last_name" />
                    </div>
                    <div class="form_item">
                        <h3>Date of Birth</h3>
                        <input type="date" name="bday">
                    </div>
                </div>
                <div class="location">
                    <div class="form_item">
                        <h3>Country of Origin:</h3>
                        <input type="text" name="country_of_origin" />
                    </div>
                    <div class="form_item">
                        <h3>City of Residence:</h3>
                        <input type="text" name="city_of_residence" />
                    </div>
                    <div class="form_item">
                        <h3>Address:</h3>
                        <input type="text" name="address" />
                    </div>
                </div>
                <div class="interests">
                    <div class="form_item">
                        <h3>Interests</h3>
                        <select multiple name="interests[]">
                            <option value="sports" name="sports">Sports</option>
                            <option value="politics" name="politics">Politics</option>
                            <option value="art" name='art'>Art</option>
                            <option value="movies" name="movies">Movies</option>
                            <option value="food" name="food">Food</option>
                            <option value="music" name="music">Music</option>
                            <option value="religion" name="religion">Religion</option>
                            <option value="travel" name="travel">Travel</option>
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

</html>