<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="../static/js/navbar.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/government_info.css" />

    <title>Settler - Prices</title>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <img
            class="logo_img2"
            src="../static/images/logo.png    "
            alt="settler logo"
          />
        </div>
        <div class="topnav">
          <a href="#home" class="active">Menu</a>
          <div id="myLinks">
            <a href="/about">About</a>
            <a href="/faq">FAQ</a>
            <a href="/contacts">Contacts</a>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
      <div class="content">
        <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <h1>Transportation Information</h1>
        <div class="stripe">
          <h3>Customs Benefits For A Car Purchase</h3>
          <p>
            Olim pay a reduced tax rate on the purchase of a new car in Israel
            or import of a car from overseas. In order to be eligible for the
            tax reduction, Olim must hold a valid foreign driver’s license that
            was issued prior to the date of Aliyah. A valid Israeli driver’s
            license is also required. An Israeli driver’s license must be
            obtained by the end of your first year of Aliyah in order to
            maintain this benefit. Importing a car is a detailed process that
            should only be pursued following thorough research regarding the
            costs and benefits
          </p>
        </div>

        <div class="stripe">
          <h3>Driving</h3>
          <p>
            The minimum driving age in Israel is 17 and the driving side of the
            road is the right. Speed limits are 30 to 50km/h in cities, 80-90 on
            freeways, 130 on highways and Route no.6. Safety belts are
            obligatory, and if you’re enjoying a night on the town, keep in mind
            there is a zero tolerance policy for drinking and driving so find a
            designated driver and enjoy safely.
          </p>
        </div>
        <div class="stripe">
          <h3>Rav-Kav</h3>
          <p>
            The Rav-Kav card is a personal card for public transportation with
            your name and picture on it. You can purchase one at a local Rav Kav
            office or order online. You can charge the card at automatic ticket
            vending machines at Light Rail stops in Jerusalem, various shops,
            certain bus stops, or using a special app downloaded to your phone.
            Sometimes, the driver can load the card on the bus. All discounts to
            students, senior citizens and other eligible persons are only
            applicable via the Rav-Kav card.
          </p>
        </div>
        <div class="stripe">
          <h3>Taxi</h3>
          <p>
            Taking a ‘special’ (speshel; ie nonshared) taxi can be very
            convenient but, at times, a bit of a hassle . It’s almost always to
            your advantage to use the meter (by law the driver has to put it on
            if you ask); make sure it is reset to the flag-fall price after you
            get in. Meter fall is 12.30NIS (10.50NIS in Eilat). Tariff 2 (25%
            more expensive than Tariff 1) applies between 9pm and 5.30am and on
            Shabbat and Jewish holidays. Wait time costs 94NIS per hour.
            Legitimate surcharges include the following:
          </p>
        </div>
        <div class="stripe">
          <h3>Train</h3>
          <p>
            The system's heavily used main line runs along the coast at least
            twice an hour, affording fine views of the Mediterranean as it links
            Tel Aviv with the following locations: Haifa (32NIS, one hour) Akko
            (41.50NIS, 1½ hours) Nahariya (46.50NIS, 1½ hours) Other useful
            services from Tel Aviv: Ben Gurion Airport (16NIS, 18 minutes, at
            least hourly 24 hours a day except Shabbat) Be’er Sheva (31.50NIS,
            1½ hours, hourly)
          </p>
        </div>
        <div class="stripe">
          <h3>Sherut</h3>
          <p>
            Sheruts (sheh-roots) are a useful way to get around. These vehicles,
            often 13-seat minivans, operate on a fixed route for a fixed price.
            They're like a bus except that they don’t have pre-set stops. If you
            don’t know the fare, ask your fellow passengers. Sheruts (Hebrew
            plural: moni'ot sherut – the word sherutim means 'bathrooms'!) are
            generally quicker than buses. They begin their runs from a
            recognised taxi rank and leave only when they’re full so you may
            have to hang around for a while, though rarely more than 20 minute
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
